@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 18, 18, 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 18, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

::selection {
  background-color: #00875f;
  color: #202024;
}

::-webkit-scrollbar {
  display: block;
  background-color: #202024;
  width: 0.7em;
}

::-webkit-scrollbar-thumb {
  background-color: #00875f;
  border-radius: 0.2rem;
}
.bg-black__input {
  outline: none;
}
